*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}
.item 
{
  width: 25%;
  height: 200px;
  color: #fff;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}